body{
    background-image: url(./img/guild_background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
}

#questBoard{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 75%;
    background-image: url(./img/blank_board.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translate(-50%, -50%);
}

.posts{
    display: grid;
    width: 90%;
    height: 100%;
    grid-template-columns: 28% 28% 28%;
    grid-auto-rows: 30%;
    column-gap: 5%;
    row-gap: 100px;
    margin: auto;
    overflow-y: scroll;
    align-items: center;
    
}

.postNode{
    display: block;
    background-image: url(./img/small_post_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter:drop-shadow(8px 8px 10px black);
    height: 100%;
}

.postNode:hover{
    filter:drop-shadow(20px 20px 30px black);

}

.postNode h2, h4{
    text-align: center;
}

.postNode:nth-child(3n){
    transform: rotate(2deg);
}

.postNode:nth-child(1n){
    transform: rotate(2deg);
}

.postNode:nth-child(2n){
    transform: rotate(-2deg);
}
